<form>
    <label for="nome">Nome:</label>
    <input id="nome" 
        type="text" 
        name="nome" 
        [(ngModel)]="novoNome"/>
    <input type="button" value="Adicionar" (click)="adicionarNome()"/>
    
    <label for="preco">Preço:</label>
    <input id="preco" 
        type="number" 
        name="preco" 
        [(ngModel)]="novoPreco"/>
    <input type="button" value="Adicionar" (click)="adicionarPreco()"/>
    
    <label for="data">Data:</label>
    <input id="data" 
        type="text" 
        name="data" 
        [(ngModel)]="novaData"/>
    <input type="button" value="Adicionar" (click)="adicionarData()"/>
</form>
